label em{
	color: #f00;
	margin-left: -3px;
}

input[type=reset]{
	margin-left: 10px;
}

body form{
	padding: 20px 60px 10px 80px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	border: 1px solid #cdcdcd;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

td{
	border: 1px solid #000;
	border-collapse: collapse;
}

.title, .make, .author, .fac{	width: 200px;}
.year, .price{ width: 100px; }
